Assets/FishNet/
Assets/FishNet.meta

Assets/StarterAssets/
Assets/StarterAssets.meta

DefaultPrefabObjects.asset
DefaultPrefabObjects.asset.meta
/Library/
/Packages/
/ProjectSettings/
/Temp/
/Builds/
/UserSettings/
/Obj/
/Logs/
*.csproj
*.vs/
*.vsconfig